.footer {
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-sm);
  display: flex;
  align-items: center;
  font-size: var(--mantine-font-size-xs);
  width: 100%;
  justify-content: space-between;
  color: var(--mantine-color-dark-2);
  background-color: var(--mantine-color-dark-7);
  border-radius: var(--mantine-radius-lg);
}

.icon {
  margin-right: var(--mantine-spacing-xs);

  svg {
    width: 20px;
    height: 20px;
  }
}

.commandTree {
  display: flex;
  align-items: center;
  gap: 10px;

  label {
    font-size: var(--mantine-font-size-xs);
  }
}
