.commandView {
  background-color: transparent;
  border-radius: var(--mantine-radius-lg);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.viewType {
  flex-grow: 1;
}

.formView {
  height: 100%;
}
