.tableContainer {
  padding: var(--mantine-spacing-xl);
}

.tableDataContainer {
  padding: var(--mantine-spacing-md) 0;
}

.tablePaper {
  border: 1px solid var(--mantine-color-gray-2);
}

.linkName {
  display: flex;
  gap: 3px;
  align-items: center;
}
