.tableDataContainer {
  padding: var(--mantine-spacing-md) 0;
}

.tablePaper {
  border: 1px solid var(--mantine-color-gray-2);
}

.integrationName {
  display: flex;
  gap: 3px;
  align-items: center;
}
