.form {
  width: 100%;
}

.formContainer {
  width: 100%;
}

.tableDataContainer {
  padding: var(--mantine-spacing-md) 0;
}

.tablePaper {
  border: 1px solid var(--mantine-color-gray-2);
}

.container {
  border: 1px solid var(--mantine-color-gray-2);
}
