.headTitle {
  text-transform: uppercase;
  color: var(--mantine-color-black);
}

.headContainer {
  border-radius: var(--mantine-radius-md);
}

.headingRow {
  .heading:first-child {
    border-radius: var(--mantine-radius-md) 0 0 0;
  }

  .heading:last-child {
    border-radius: 0 var(--mantine-radius-md) 0 0;
  }
}

.heading {
  background-color: rgba(222, 241, 255, 1) !important;
}

.dataRow {
  cursor: pointer;
}
