.specView {
  border-radius: var(--mantine-radius-sm);
  background-color: var(--mantine-color-dark-6);
}

.logo {
  display: flex;
  justify-content: center;
  padding: var(--mantine-spacing-lg) 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mantine-spacing-lg);
}

$width: 500px;

.innerContainer {
  width: $width;
}
