/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable selector-class-pattern */
@font-face {
  font-weight: normal;
  font-family: Metropolis;
  src: url('/fonts/Metropolis-Regular.otf') format('opentype');
}

@font-face {
  font-weight: 300;
  font-family: Metropolis;
  src: url('/fonts/Metropolis-Thin.otf') format('opentype');
}

@font-face {
  font-weight: 500;
  font-family: Metropolis;
  src: url('/fonts/Metropolis-SemiBold.otf') format('opentype');
}

@font-face {
  font-weight: bold;
  font-family: Metropolis;
  src: url('/fonts/Metropolis-Bold.otf') format('opentype');
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  font-family: Metropolis;
  border-radius: var(--mantine-radius-md);
  height: 100%;
  background: transparent;

  --mantine-spacing-xss: 5px;
}

body {
  margin: 0;
  display: flex;
  height: 100%;
  min-width: 320px;
  background-color: transparent !important;
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}

.mantine-Spotlight-root {
  width: 800px;
  height: 600px;
  position: relative !important;
  align-self: center;
  background: var(--mantine-color-dark-7) !important;
  border-radius: var(--mantine-radius-lg);
  border: 1px solid var(--mantine-color-dark-4);
}

.mantine-Spotlight-spotlight {
  box-shadow: none;
  border-bottom: none;
  border-radius: var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
}

.mantine-Spotlight-actions {
  height: calc(100vh - 50px);
  border-bottom: 0;
}

.mantine-InputWrapper-root {
  width: 100%;
}

.mantine-TextInput-wrapper {
  display: flex;
  align-items: center;
}

.mantine-TextInput-icon {
  position: relative;
  pointer-events: auto;
}

#root {
  width: 100%;
}
