.title {
  font-weight: 700;
  text-transform: uppercase;
}

.icon {
  color: var(--mantine-color-gray-4);
}

.value {
  font-size: var(--mantine-font-size-lg);
  font-weight: 700;
  line-height: 1;
}
