# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=postgresql://postgres:root@localhost:5432/db_name?schema=public
JWT_SIGNATURE=secret123456789
FRONTEND_URL=http://localhost:3000
PORT=3300
