.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
}

.childrenContainer {
  margin-top: var(--mantine-spacing-xl);
}

$image-width: 180px;

.logo {
  display: flex;
  justify-content: center;

  img {
    width: $image-width;
  }
}
